@model IEnumerable<Product>
@section Skriptai {
    <script src="~/ng_client/vendor.js"></script>
    <script src="~/ng_client/polyfills.js"></script>
    <script src="~/ng_client/runtime.js"></script>
    <script src="~/ng_client/main.js" asp-append-version="true"></script>

}
<p>Products count:  @Model.Count()</p>
<appComponentPage></appComponentPage>
<shop-page> </shop-page>


@section head {

    <link href="~\client\src\styles.css" rel="stylesheet" />
    @*<base href="/App/Shop" />*@


}









